*,
*::after,
*::before,
*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.article {
  background-color: #16ffbd;
  color: rgba(0, 0, 0, 0.557);
}

.containerfirst,
.containersecond,
.containerthree,
.containerfour {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__item {
  margin: 0;
  padding: 0%;
}

.container {
  margin: 0 0 40px 0;
}
