*,
::after,
::before {
    box-sizing: border-box;
    font-weight: 300;
    letter-spacing: 3px;
}

body {
    margin: 0;
    background-color: #16ffbd;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    a {
        color: aliceblue;
        text-decoration: none; /* no underline */
    }
}

.header {
    display: flex;
    justify-content: space-between;
    .header__icon {
        height: 1.5em;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .header__logo {
        margin-top: 2rem;
    }

    .header__text {
        margin-right: 1rem;
        margin-top: 1rem;
        font-weight: 400;
    }
}

.content {
    .video-presentation {
        .video-presentation__image {
            max-width: 100%;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2 {
            max-width: 267px;
            align-items: center;
            text-transform: uppercase;
            font-weight: 500;
        }
        p {
            max-width: 332px;
            text-transform: uppercase;
        }
        .icon {
            height: 0.5em;
            &--x {
                margin-top: 20px;
            }

            &--wave {
                margin-top: 50px;
                margin-bottom: 10px;
            }
        }
    }
    &__images {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2 {
            max-width: 267px;
            align-items: center;
            text-transform: uppercase;
            font-weight: 500;
            margin: 10px 0;
        }
        p {
            max-width: 332px;
            text-transform: uppercase;
            margin-top: 0;
        }

        .underline {
            text-decoration: underline;
        }
        .image {
            max-width: 100%;
        }
    }
    .subsections {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        p {
            text-transform: lowercase;
            margin-bottom: 100px;
            margin-top: 10px;
            font-weight: 500;
        }
        .middle-paragraph {
            max-width: 315px;
        }
    }
}

.footer {
    background-color: #070c13;
    color: aliceblue;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 100px;
    &__title {
        color: #16ffbd;
        font-size: 2rem;
        margin-top: 100px;
        &--crossed {
            text-decoration: line-through;
            color: pink;
            span {
                color: #16ffbd;
            }
        }
    }
    .icon {
        width: 5px;
    }
    .nav {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        &__link {
            margin: 5pxpx 0px;
            align-self: center;
            font-size: 2rem;
            &:active {
                text-decoration: line-through;
                color: pink;
            }
        }
    }
    .information {
        display: flex;
        flex-direction: column;
        &__title {
            align-self: center;
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 1.5rem;
        }

        .container-logos {
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
            &__logo {
                height: 50px;
                &--left {
                    margin-left: 20px;
                }
                &--right {
                    margin-right: 20px;
                }
            }
        }
        &__content {
            align-self: center;
            margin: 0;
            color: #16ffbd;
            font-size: 1rem;
        }
    }
}
