*,
*::after,
*::before,
*,
*:after,
*:before {
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #16ffbd;
}

.article {
    background-color: #16ffbd;
    color: rgba(0, 0, 0, 0.699);
    margin-top: 40px;
    &__item {
        margin: 0;
        padding: 0%;
        margin-top: 4px;
    }
    &__image {
        display: none;
    }
}

.container {
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item {
        margin: 0.5rem;
        text-align: center;
        &--text {
            line-height: 2.5rem;
        }
    }
    &__image {
        width: 10px;
        margin-left: 3px;
        margin-right: 3px;
    }
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container--row {
    max-width: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
        text-align: center;
        width: 300px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    .header__icon {
        height: 1.5em;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .header__logo {
        margin-top: 2rem;
    }

    .header__text {
        margin-right: 1rem;
        margin-top: 1rem;
        font-weight: 400;
        letter-spacing: 8px;
    }
}

.content {
    .video-presentation {
        .video-presentation__image {
            max-width: 100%;
        }
    }
    .icon {
        height: 1.5em;
    }
    .image {
        max-width: 100%;
    }
}

@media (min-width: 600px) {
    .article__image {
        display: block;
        width: 100vw;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100vw;
        &__text {
            margin: 6px;
            width: 200px;
        }
    }
    .container__item--text {
        width: 100vw;
        max-width: 600px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
